body{
font-family: Arial, Helvetica, sans-serif;
padding: 0;
margin: 0;
display: flex;
flex-direction: column;
box-sizing: content-box;
flex:1
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-color: #1F2937;
    height: 5vh;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h1{
    color: #F9FAF8;
    font-size: 18px;
    margin-left: 130px;
    width: max-content;
}
nav{
    padding: auto;
    margin-right: 50px;
    width: fit-content  
}

a{
    font-size: 15px;
    color: #E5E7EB;
    text-decoration: none;
    list-style-type: none;
    margin-right: 30px;
    border-radius: 10%;
}

nav li{
    display: inline-block;
    flex-basis: content;
    justify-items: space-between;
    
}

/* second blue header, I didn't know how to put everything in one*/


.second-header{
    background: #1F2937;
    height: 25vh;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

.left, .sea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 33%;
    padding:0;
    width: 150px;
    height: 140px;
    margin: 1%;
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
}

.awesome{
    font-weight: bold;
    font-size: 30px;
    width: 100%;
    margin: 0;
}

.bluetext{
    text-align: left;
    font-size: 11px;
    width: 100%;
    padding-bottom: 5px;
    margin:0;
    padding-right: 10px;
}


.signup{
    align-self: flex-start;
    width: 90px;
    height: fit-content;
    background-color: #3882F6;
    border-color: transparent;
    margin-top: 10px;
    color: white;
    padding: 5px 20px;
    cursor: pointer;  
}

.sea {
    flex: 1 1 auto;
    border-radius: 0%;
    display: grid;
    overflow: hidden;
    max-height: 200px;
    max-width: 300px
}



/* mid section*/

.first-section, .second-section{
    background-color: white;
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.first-section{
    margin: 0;
    padding: 17px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: white;
}

p{
    margin: 10px 10px;
    text-align: center;
    font-size: 22px;
}

.second-section{
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 22vh;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    
}

figure{
    background: rgb(255, 255, 255);
    margin: 0px 13px;
    padding-left: 4px;
    padding-right: 4px;
    width: min-content;
}
.seasea{
    border-radius: 10%;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}

.picture-text{
    font-size: 10px;
}

/*Quote section*/

.quote{
    background-color: #E5E7EB;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fullquote{
    margin:15%;
    height: max-content;
    width: 600px;
}
.inspiration{
    font-size: 20px;
    font-weight: 100;
    color: #1F2937;
    text-align: center;
}

.greybold{
    display: flex;
    width: max-content;
    margin-left: 78%;
    
}

/*Button section*/
.actionblock{
    height: 20vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #3882F6;
    border-radius: 10px;
    width: 700px ;
    height: 90px;
}

.item1{
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-content: center;
    color: white;
    font-size:small
}

.item2{
    height: fit-content;
    border-radius: 8%;
    border-color: white;
    align-self: center;
    color: white;
    background-color: transparent;
    padding: 5px 20px;
    cursor: pointer;
   
    
}

/*Footer*/
footer{
    background-color: #1F2937;
    padding: 10px 10px;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px
}